@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
body{
  min-height: 100vh;
  background: #fff;
}
.container{
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}
.container header{
  position: absolute;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 20px;
}
.container header .nav-left img{
  display: none;
}
.container header .nav,
.container header .nav-left, 
.container header .nav-right
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container header .nav-left ul,
.container header .nav-righ ul{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container header .nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container header ul li{
  list-style: none;
  margin-left: 20px;
}
.container header ul li:nth-child(1) a {
  display: none;
}
.container header ul li a{
  text-decoration: none;
  color: #111;
  font-size: 13px;
}
.container header .nav-right ul li button{
  border: none; outline: none;
  background: transparent;
}
.container header .nav-right ul li button a{
  color: #fff;
  font-size: 14px;
  padding: 8px 14px;
  border: none; outline: none;
  border-radius: 50px;
  cursor: pointer;
  background: #0B57D0;
}



.main{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 580px;
  margin-top: 250px;
}
.main .searchBox{
  position: relative;
  width: 100%;
  height: 50px;
  margin-top: 20px;
}
.main .searchBox .search{
  width: 100%;
  height: 100%;
  padding: 13px;
  padding-left: 45px;
  padding-right: 90px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  font-size: 15px;
}
.main .searchBox .icons{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  pointer-events: none;
}
.main .searchBox .icons .sBtn{
  padding-top: 5px;
  width: 22px;
}
.main .searchBox .icons .mic-lens{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.main .searchBox .icons div img{
  width: 30px;
}

.main .buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  gap: 20px;
}
.main .buttons button{
  color: #111;
  border: none;
  outline: none;
  padding: 8px 14px;
  border-radius: 3px;
}
.main .language{
  display: flex;
  margin-top: 25px;
  gap: 15px;
}
.main .language li{
  list-style-type: none;
}
.main .language li a{
  color: #0B57D0;
  text-decoration: none;
}

/* Footer Customize */
footer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #F2F2F2;
}
.mobile{
  display: none;
}
footer .row{
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding: 15px 25px;
}
footer .row.row1 p{
  color: #5f6368;
  font-size: 15px;
}
footer .row.row2{
  display: flex;
  justify-content: space-around;
}
footer .row.row2 ul{
  display: flex;
}
footer .row.row2 ul li{
  list-style-type: none;
}
footer .row.row2 ul li a{
  text-decoration: none;
  color: #5f6368;
  font-size: 14px;
  margin-right: 25px;
}


























.hero{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background: #F0F4F9;
}
.hero .box{
  position: relative;
  width: 450px;
  height: fit-content;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 00px 20px 20px rgba(0,0,0, 0.03);
  background: #fff;
}
.hero .box img{
  width: 70px;
  margin-left: -10px;
}
.hero .box h2{
  font-weight: 400;
  font-size: 2em;
  margin: 20px 0;
}
.hero .box p{
  font-size: 1em;
  color: rgba(0, 0, 0, 0.9);
}
.inputBox{
  position: relative;
  width: 100%;
  height: 50px;
  margin: 20px 0 10px 0;
}
.inputBox input{
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  outline: none;
  font-size: 1em;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, .6);
}
.inputBox span{
  position: absolute;
  top: 15px;
  left: 16px;
  pointer-events: none;
  transition: 0.5s;
}

/* Input Placeholder Animation */
.inputBox input:valid + span,
.inputBox input:focus + span
{
  color: #0B57D0;
  transform: translateX(-8px) translateY(-22px);
  padding: 0 5px;
  background: #fff;
  font-size: 0.75em;
}
.inputBox input:valid,
.inputBox input:focus{
  border: 1px solid #0B57D0;
}

.box .link{
  margin: 0 0px 30px 0;
}
.box .link p{
  color: rgba(0, 0, 0, .8);
}
.box .link a{
  color: #0B57D0;
  text-decoration: none;
  font-weight: 550;
}
.box .boxFooter{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px 0 10px 0;
}
.boxFooter div:nth-child(1) button{
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 590;
  color: #0B57D0;
  background: transparent;
}
.boxFooter div:nth-child(2) button {
  outline: none;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 590;
  color: #fff;
  padding: 8px 20px;
  background: #0B57D0;
}
.boxFooter div:nth-child(2) button a{
  outline: none;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 590;
  color: #fff;
  padding: 8px 20px;
  text-decoration: none;
  background: #0B57D0;
}
.hero .footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 450px;
  height: fit-content;
  padding: 10px;
  font-size: 0.8em;
}
.hero .footer .footer-first{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.hero .footer ul{
  display: flex;
  gap: 12px;
}
.hero .footer ul li{
  list-style: none;
}
.hero .footer ul li a{
  color: #000;
  text-decoration: none;
}



























.heroTwo .box h2{
  margin: 10px 0;
}
.emailBox{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: fit-content;
  height: 30px;
  font-size: 0.8em;
  padding: 0 15px;
  margin: 0 0 80px 0;
  cursor: pointer;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, .6);
}
.emailBox .user,
.emailBox .drop-btn{
  display: flex;
  align-items: center;
}
.emailBox .Email span{
  font-weight: 580;
  color: rgba(0, 0, 0, .8);
}
.emailBox .user img{
  width: 18px;
}
.emailBox .drop-btn img{
  width: 20px;
}

.showPass{
  display: flex;
  align-items: center;
  height: fit-content;
  gap: 25px
}
.showPass span{
  font-weight: 400;
}












/* now, make it responsive */
@media (max-width: 768px) {
  .container header{
    justify-content: space-between;
  }
  .container header .nav-left ul li a{
    text-transform: uppercase;
  }
  .container header .nav-left ul li:nth-child(1) a{
    color: #0B57D0;
    border-bottom: 2px solid #0B57D0;
  }
  .container header .nav-left img {
    display: block;
    width: 30px;
  }
  .container header .nav-left ul li:nth-child(1) a {
    display: block;
  }
  .container header .nav-left ul li:nth-child(2) a{
    display: none;
  }
  .container header .nav-right ul li button a {
    padding: 11px 15px;
  }
  .main{
    margin: 0 5%;
    justify-content: center;
  }
  .main .searchBox {
    height: 40px;
    margin-top: 20px;
  }
  .main img{
    width: 45%;
  }
  .main .buttons{
    display: none;
  }
  
  
  .desktop{
    display: none;
  }
  .mobile{
    display: block;
  }
  .mobile .row {
    padding: 10px 25px;
  }
  .mobile .row2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .mobile .row2 ul li a{
    font-size: 10px;
  }
  .mobile .row2 div{
    margin-bottom: 15px;
 }
  .mobile .row2 div:nth-child(2) {
    margin-bottom: 0;
}


 .hero{
   background: #fff;
 }
 .hero .box{
   position: absolute;
   top: 0;
   border-radius: 0;
   width: fit-content;
   background: #fff;
   box-shadow: none;
 }
 .hero .box .link a{
   font-size: 0.9em;
 }
 .hero .box .link:nth-child(1){
    margin: 500px 0 0 0;
    background: #000;
  }
 .box .boxFooter{
    margin: 40px 0 10px 0;
  } 
  
  .boxFooter div:nth-child(2) button {
    padding: 13px 25px;
  }
  .hero .footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 999;
    flex-direction: column;
    align-items: flex-start;
  }
  .hero .footer .footer-first{
    padding: 0 10px;
  }
  .hero .footer .footer-secound{
    padding: 0 10px;
    margin-top: 40px;
    margin-bottom: 10px;
  }
}